.footer{
  background-color: #2e3951;
  margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
    max-width: 1100px;
}

.foot{
  background-color: #2e3951;
}

