.profile {
	background: #1c2331;
	margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 100%;
    max-width: 1100px;
}

.card {
	border: none;
	background: #1c2331;
}

.card-body{
	font-family: "Arial";
	font-size: 20px;
	color: #b1bace;
}

.prof {

	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

.h5 {
	font-family: "Arial";
	margin: 0 0 50px 0;
    padding: 5px;
    text-align:center;
    font-size:30px;
    color: #b1bace;
    border-bottom:solid 1px #929fba;
    letter-spacing: 2px;
}


.button {
    padding-top: 70px;
}

.btn-primary {
    padding-right: 30px;
    padding-left: 30px;
	color: #1c2a48;
	background-color: #929fba;
	border: none;

}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active {
    color: #1c2331 !important;
    background-color: #b1bace !important;
    border: none !important;
}


