<%= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'footer', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="foot">
 <div class="footer">

      <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/">Про нас</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">Контакти</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">FAQ</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="/">Аніме</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">Манга</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">Ранобе</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/">Новини</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="/topics">Форум</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">© 2019 Nyan</a>
    </li>
   

  </ul>


</div>

</div>
