<%= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'footer', media: 'all', 'data-turbolinks-track': 'reload' %>

 <footer class="container footer">
      <div class="foot">
        <div class="f">
          <div class="foo">ABOUT US</div>
          <div class="foo">CONTACT</div>
          <div class="foo">FAQ</div>
          <div class="foo">ANIME</div>
          <div class="foo">MANGA</div>
          <div class="foo">LIGHT NOVEL</div>
          <div class="foo">FORUM</div>
          <div class="foo">NEWS</div>
          <div class="foo1"> © 2019 NYAN <div>
    </footer>