<%= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'footer', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="foot">
 <div class="footer">

      <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">FAQ</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="/">Anime</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">Manga</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">Light Novel</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/">News</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="/">Forum</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">© 2019 Nyan</a>
    </li>
   

  </ul>


</div>

</div>
