<%= stylesheet_link_tag    'navs', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="navs">
<div class="container">
 
  <div class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Аніме</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Манга</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Ранобе</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Форум</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Новини</a>
    </li>
   
  </div>
</div>
</div>